body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

.widget-container {
  height: 80vh;
  width: 80vw;
  border: 2px solid #e9e9e9;
  overflow: auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.parent {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
}
